input[type=text]{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    display: block;
    font-weight: bold;
}

input[type=number]{

    width: 25%;
    margin: 8px 0;
    padding: 8px 16px;
    margin: auto;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

input[type=submit]{
    
    width: 40%;
    margin: 12px 0;
    padding: 12px 20px;
    margin: auto;
    display: block;
    font-weight: bold;
    font-size: 16px;
}

select{
    width: 25%;
    margin: 8px 0;
    padding: 8px 16px;
    margin: auto;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

button {
    text-align: center;
    margin: auto;
    display: block;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    color: rgb(0,3,64);
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
    
 }

 button:hover {
    background-color: rgb(0,3,64);
    color: white;
    opacity: 1;
  }


body {
    background: rgb(0,3,64);
background: linear-gradient(90deg, rgba(0,3,64,1) 0%, whitesmoke 20%, whitesmoke 80%, rgba(0,3,64,1) 100%);
 }

label{
    color: rgb(0,3,64);
    margin: auto;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

h2, h3{
    color: rgb(0,3,64);
    font-size: 48px;
    margin: auto;
    display: block;
    text-align: center;
}



