<html>
    <head>
        <title>PropCodes</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/front.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <meta name="monetag" content="dcb11077d511d01fe77b6ad92a5f3ff0">
    </head>
    <body>
        <h1>Welcome to PropCodes!</h1><br><br>
        <section>We are excited to introduce you to our free to use state-of-the-art algorithm that helps you pick the best NBA player props.<br> <br> <br>
            Our algorithm uses cutting-edge technology and advanced statistical analysis to provide you with the most accurate and profitable picks.<br><br><br>
            Whether you're a seasoned bettor or a casual fan, our algorithm is designed to help you make informed decisions and increase your chances of winning. <br><br><br>
            With our algorithm, you'll have access to valuable insights and analysis of any NBA player prop for Points, Rebounds, Assists, 3pt-Made, or Turnovers.<br><br><br>
            Try it out for yourself and see the difference it can make in your NBA betting!<br> <br><br><br>
      </section>
        <form action="/code">
            <button>Try it out now!</button><br><br>
        </form>
        <footer>*The algorithm does NOT account for players being injured so keep that in mind when looking at your player props.</footer>
    </body>
</html>